﻿@{
    ViewBag.Title = "Welcome";
}

<div ng-app="cheque-pad" ng-controller="ChequePadController">
    <h1 class="lead">We're the friendly chequebook.</h1>
    <section ng-repeat="cheque in cheques" class="jumbotron cheque-pad" ng-controller="ChequeController">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group cheque-pad-pay">
                    <label class="control-label">
                        Pay <input type="text" ng-model="name" class="form-control input-sm" placeholder="Bob the builder" required />
                    </label>
                    <small class="cheque-pad-pay-bearer">or bearer</small>
                </div>
                <div class="form-group cheque-pad-sumof">

                    <strong class="control-label">The sum of</strong> <p class="form-control-static" ng-bind="sumof"></p>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group cheque-pad-date">
                    <label class="control-label">
                        Date <input type="date" class="form-control input-sm" ng-model="date" required />
                    </label>
                </div>

                <div class="form-group cheque-pad-amount">
                    <label class="control-label">
                        $ <input name="amount" class="form-control input-sm" ng-model="amount" type="number" ng-blur="humanize()" required />
                    </label>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-4" ng-show="blankSlate()">
            <h2>Getting started</h2>
            <p>
                <ol>
                    <li><button class="btn btn-lg btn-default" type="button" ng-click="addCheque()">Add a cheque</button></li>
                    <li>Write the cheque</li>
                    <li>Add more cheques</li>
                    <li>Profit</li>
                </ol>
            </p>
        </div>

        <div class="col-md-4" ng-hide="blankSlate()">

            <button class="btn btn-lg btn-default" type="button" ng-click="addCheque()">Add a cheque</button>

        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/cheque-pad")
    <script>
        (function (angular) {
            var app = angular.module('cheque-pad');

            app.constant('getAmountInWordsEndpoint', '@Url.HttpRouteUrl("GetAmountInWords", new {})');

        })(angular);

    </script>
}
